@import url("http://fonts.cdnfonts.com/css/gunplay-3d");
* {
  font-family: sans-serif;
}
p {
  font-size: 16px;
}
.margin {
  margin-bottom: 45px;
}
.bg-1 {
  background-color: #1abc9c; /* Green */
  color: black;
}

.bg-1 h3 {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: "Gunplay";
  color: #000;
}
.bg-1 h2 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: 800px;
  font-family: "Gunplay";
  color: #000;
  line-height: 40px;
}
.bg-2 {
  background-color: #474e5d; /* Dark Blue */
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.navbar {
  padding-top: 1px;
  padding-bottom: 1px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  background-image: linear-gradient(to bottom right, rgb(255 255 255), #ccc);
  font-variant-position: super;
  border-bottom: #000;
}
.navbar-default .navbar-brand {
  margin-top: -15px;
  color: #cfb168;
}
.navbar-default .navbar-nav > li > a {
  color: black;
  font-size: 20px;
  font-family: serif;
}
.navbar-nav li a:hover {
  color: #cfb168 !important;
}
.navbar-nav li a {
  margin: 1px;
}
.img-circle {
  border-radius: 50%;
  box-shadow: 1px 0px 10px 5px;
  /* width: 100px; */
}
.bg-1 {
  background-color: #ffffff;
  color: #2f2f2f;
  background-image: url("img/survivor_ref/home2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 100px;
}
.second-container .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.second-container h3 {
  font-size: 5vw;
  margin: auto;
  text-align: center;
  margin-top: 300px;
  color: rgb(0, 0, 0);
  font-family: "gunplay 3d";
}
.second-container .img {
  position: relative;
  align-items: baseline;
}

.second-container .container-fluid {
  font-family: "Gunplay 3D", sans-serif;
}
.container-fluid {
  padding-top: 0px;
  padding-bottom: 0px;
}
.about .container-fluid {
  font-size: 100px;
}
.about .container-fluid img {
  margin-right: 10px;
}
.clients {
  padding: 15px 0;
  text-align: center;
}
.section-bg {
  background-color: #f5f5f5;
}
section {
  padding: 50px 0;
  overflow: hidden;
}
.clients {
  padding: 15px 0;
  text-align: center;
}
.clients img {
  max-width: 60%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}
.clients img:hover {
  filter: none;
  transform: scale(1.15);
}
.contact img {
  width: 50%;
  margin-left: 70px;
}
@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
  .bg-1 h2 {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    font-family: "Gunplay";
    color: #000;
  }
  .bg-1 {
    background-image: url("img/survivor_ref/home1.jpg");
    margin-top: 50px;
    /* margin-right: 50px; */
    background-position: center center;
  }
  .second-container.row {
    background-image: none;
    padding: 0%;
  }
  :root {
    --particular-ad: url("assets/img/survivor_ref/open-book-8057653.jpg");
  }
  .second-container p {
    color: #fff;
  }
  .row.mystyle {
    padding: 10px !important;
  }
  .asss {
    visibility: hidden !important;
  }
}
:root {
  --particular-ad: url("assets/img/survivor_ref/4-40566_open-book-png-transparent.png");
}

@media (max-width: 300px) {
  .row.mystyle {
    padding: 10px !important;
  }
}

@media only screen and (max-width: 600px) {
  .about .container-fluid img {
    width: 50%;
    box-shadow: none;
  }
  .contact img {
    width: 50%;
    margin-left: 70px;
  }
  .img-responsive.img-circle img {
    width: 10%;
  }
  .bg-1 h3 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: "Wallpoet", cursive;
    color: #000;
  }
  .second-container.row {
    background-image: none;
    padding: 0%;
  }
  .container-fluid .text-center.row {
    background-image: url("none");
    padding: 1px;
  }
  :root {
    --particular-ad: url("assets/img/survivor_ref/open-book-8057653.jpg");
  }
  .row.mystyle {
    padding: 10px !important;
  }
  .second-container p {
    color: #fff;
  }
  .width9 {
    width: 100% !important;
  }
}
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 30px;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #124265;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 20px;
  color: #555;
}
section {
  padding: 90px;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h3 {
  font-family: "gunplay";
  font-size: 50px;
}
.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: #919191;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.second-container p {
  color: #000;
  padding: 10px;
  margin-top: 80px;
  font-size: 19px;
  font-family: sans-serif;
}
/* dsadsadasdsa */
.section-heading {
  font-size: 20px;
  padding-bottom: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}
.margin-top-btm-1 {
  margin-bottom: 1% !important;
  margin-top: 1% !important;
}
.letter-space3 {
  letter-spacing: 3px !important;
}
.sm-text {
  font-size: 10px !important;
  line-height: 14px !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.width9 {
  width: 90% !important;
}
.margin-top-btm-10 {
  margin-bottom: 5% !important;
  margin-top: 5% !important;
}
.med-text {
  font-size: 15px !important;
  line-height: 25px !important;
  letter-spacing: 1px !important;
}
.center-col {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
img {
  -webkit-backface-visibility: hidden;
  height: auto;
  max-width: 100%;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}
.border-bottom {
  border-bottom: 1px solid #e0e0e0;
}

.author-img {
  min-height: 625px;
}
.cover-background {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center;
  position: relative;
  overflow: hidden;
}
.zero-margin {
  margin: 0 !important;
}
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(https://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif)
    center no-repeat #fff;
}
@media (max-width: 768px) {
  .line-sep {
    margin: 20px auto 15px;
  }
}
.line-sep {
  height: 1.5px;
  margin: 5% auto;
  width: 40px;
}
.margin-top-btm-1 {
  margin-bottom: 1% !important;
  margin-top: 1% !important;
}
.bg-gray-md {
  background: #cecece !important;
}
.bg-gray-light {
  background-color: #f5f5f5 !important;
}
.font-oswald {
  font-family: "Oswald", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  color: #000;
  text-transform: uppercase;
}
h1 {
  font-weight: 700;
  line-height: 44px;
}
h1,
.h1 {
  font-size: 36px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  letter-spacing: 1px;
}
.margin-top5 {
  margin-bottom: 0 !important;
  margin-top: 5% !important;
}
.bg-gray-light h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  color: #000;
  text-transform: uppercase;
}
.bg-gray-light h3 {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: inherit;
}
.btn.med-btn {
  font-size: 13px;
  padding: 9px 27px;
}
.price-btn:hover {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.price-btn {
  background-color: #000;
  font-size: 19px;
  border: 1px solid #000;
  color: #fff;
  font-weight: 600;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.dsd {
  visibility: visible;
  animation-name: fadeInLeft;
}
.animated {
  -moz-transition-duration: 0s !important;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
img {
  -webkit-backface-visibility: hidden;
  height: auto;
  max-width: 100%;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}
@media (max-width: 767px) {
  section {
    padding: 20px 0;
  }
  .row.mystyle {
    padding: 10px !important;
  }
  .second-container h3 {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  section {
    padding: 20px 0;
  }
  .row.mystyle {
    padding: 10px !important;
  }
  .second-container h3 {
    font-size: 50px;
  }
}
@media screen and (max-width: 767px) {
  section {
    padding: 20px 0;
  }
  section {
    padding: 20px 0px;
  }
  .row.mystyle {
    padding: 10px !important;
  }
  .second-container h3 {
    font-size: 50px;
  }
  .clients img {
    max-width: 20%;
  }
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.btn:hover {
  color: #212529;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
